@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Inter:wght@300&family=Karla:wght@200&family=Lato:ital,wght@0,700;1,700;1,900&family=Montserrat:ital,wght@0,400;0,900;1,400;1,600;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

header {
    font-family: 'Lato', sans-serif;
    background-color: #FFC7EA;
    color: #fff;
    padding: 10px;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

nav {
    font-family: 'Lato';
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
}

button {
    font-family: 'Lato';
    background-color: #D8B4F8;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;;
}

button:hover {
    background-color: #FBF0B2;
}

main {
    min-height: 30px;
    max-width: 600px;
    max-height: 600px;
    overflow-y: scroll;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #D8B4F8;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ede9f0;
  }

.post {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.post h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.post img {
    max-width: 100%;
    height: auto;
}

.post p.time {
    font-size: 14px;
    color: #777;
}

.post p {
    margin: 10px 0;
}

.comments-popup {
    display: none;
}

.comments-popup button {
    background-color: #D8B4F8;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 5px;
}

.comments-popup button:hover {
    background-color: #D8B4F8;
}

.comment {
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.comment p {
    margin: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.popup h2 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial;
    font-size: 18px;
    margin-bottom: 10px;
}

.popup input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.popup button {
    background-color: #D8B4F8;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #FBF0B2;
}

@media (max-width: 768px) {
    main {
        padding: 10px;
    }
    
    .post {
        padding: 10px;
    }
    
    .popup {
        width: 80%;
    }
}